@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: radial-gradient(circle at 20% 20%, #1a1e2e, #0b0d14 70%), 
              linear-gradient(135deg, rgba(39,71,102,0.2), rgba(18,25,38,0.2));
  background-attachment: fixed;
  color: #fff;
}


.stars {
  background: url("/stars.png") repeat;
  animation: moveStars 120s linear infinite;
}

@keyframes moveStars {
  from { background-position: 0 0; }
  to { background-position: 10000px 10000px; }
}

